.main-hero{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   
    /* background-color: green; */
    
}
/* top-categories */
.top-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.0rem;
    padding: 1.0rem 1.5rem;

}
.category{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-inline: auto;
}
.category h3{
    font-size: 2.0rem;
    margin-right: auto;
}
.category h5{
    font-size: 1.6rem;
    border-bottom: 2px solid black;
}
.all-products{
    padding: 2.0rem;
    display: grid;
    grid-template-rows: repeat(1,350px);
    grid-template-columns: repeat(3,300px);
    gap: 2.0rem;
}
.all-products img{
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    
}
.models{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
   

}
.models span{
    font-size: 1.6rem;
    font-weight: 500;
}
.model {
    margin-top: 1.0rem;
    height: 500px;
    width: 100%;
}
.secondary{
    border-radius: .8rem;
    background-color: rgb(23, 24, 23);
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    width: 300px;
    height: 5.0rem;
    border: none;
    padding: .5rem .8rem;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(23, 24, 23);
    transition: .75s ease;

}
.secondary:hover{
    background-color: green;
    color: rgb(247, 241, 241);
}
.details{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
    padding: 5.0rem;
    text-align: center;
    
}
.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    padding: 1.0rem 1.5rem;
    gap: 1.0rem;
    position: relative;
    
}
.pages{
    font-size: 1.4rem;
    font-weight: 500;
}
.img-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4.0rem;
    border-radius: .8rem;
    padding: 2.5rem;
    border: 2px solid black;
    margin-right: -450px;
    
    
    
}
.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    gap: 1.0rem;
}
.dots{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1.0rem;
    background-color: gray;
    border-radius:  50%;
    border: 2px solid black;
    height: 1.0rem;
    width: 1.0rem;
    
    
}
@media (max-width:750px) {
    .main-hero{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    
    }
    
    
    .model{
        width: 98%;
        
}
    .details{
        font-size: 1.6rem;
    }
    .secondary{
        width: 200px;
        height: 3.0rem;
        font-size: 1.2rem;
    }
    .img-scroll{
        display: none;
    }
    
}