.main-hero{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
   
    /* background-color: green; */
    
}
.model{
    margin-top: 10rem;
    height: 600px;
}
.secondary{
    border-radius: .8rem;
    background-color: rgb(23, 24, 23);
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    width: 300px;
    height: 5.0rem;
    border: none;
    padding: .5rem .8rem;
    cursor: pointer;
    transition: .75s ease;

}
.secondary:hover{
    background-color: green;
    color: black;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
    padding: 5.0rem;

}
.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    padding: 1.0rem 1.5rem;
    gap: 1.0rem;
    position: relative;
    
}
.pages{
    font-size: 1.4rem;
    font-weight: 500;
}
.img-scroll{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:4.0rem;
    border-radius: .8rem;
    padding: 2.5rem;
    border: 2px solid black;
    margin-right: -450px;
    
    
    
}
.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    gap: 1.0rem;
}
.dots{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1.0rem;
    background-color: gray;
    border-radius:  50%;
    border: 2px solid black;
    height: 1.0rem;
    width: 1.0rem;
    
    
}
@media (max-width:750px) {
    .main-hero{
        flex-direction: column-reverse;
    
    }
    
    
    .model{
        width: 98%;
        object-fit: contain;
}
    .details{
        font-size: 1.6rem;
    }
    .secondary{
        width: 200px;
        height: 3.0rem;
        font-size: 1.2rem;
    }
}